/* BASIC */

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  color: #ffffff;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

#login-form {
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 5px auto;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #39ace7;
}

button[type="submit"] {
  background-color: #39ace7;
  border: none;
  color: #ffffff;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px;
  margin: 20px auto 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #92badd;
}

button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: default;
}

#login-status {
  margin-top: 20px;
  color: #ffffff;
  font-size: 14px;
}
